[submodule "GameEngine/Hazel/vendor/spdlog"]
	path = GameEngine/Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngine/Hazel/vendor/glm"]
	path = GameEngine/Hazel/vendor/glm
	url = https://github.com/g-truc/glm
