#Directories
GameEngine/.vs/
GameEngine/bin/
GameEngine/bin-init/

.users

Software_Rendering/Software_Rendering/.vs/
Software_Rendering/Software_Rendering/Debug/

**/Debug/
**/.vs/
**/opencv/
**/eigen3/
**/freetype/
**/CMakeFiles/
