[submodule "GameEngine/Hazel/vendor/spdlog"]
	path = GameEngine/Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngine/Hazel/vendor/glfw"]
	path = GameEngine/Hazel/vendor/glfw
	url = https://github.com/TheCherno/glfw
